@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--primary);
  font-family: "JetBrains Mono", monospace;
}

/* custom variables */
:root{
  --primary: #18171F;
  --secondary: #E6E5EA;
  --alternative: #A4FFAF;
  --awesome: #24232c; 
  --textColor: #817D92;
}

.app {
  width: 400px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1rem;
  color: var(--textColor);
}

.password-display {
  margin-bottom: 20px;
}

.password-input {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  background-color: var(--awesome);
  position: relative;
}

.password-input input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
  background-color: transparent;
  color: var(--secondary);
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
}

.password-input input:focus {
  box-shadow: none; 
  outline: none; 
}

.copy-section {
  display: flex;
  align-items: center;
  gap: 2px;
}

.copied-message {
  color: var(--alternative);
  font-size: 0.9rem;
  font-weight: bold;
  transition: opacity 0.3s ease;
  margin-right: 28px;
}

.copy-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 10px;
}

.copy-icon svg {
  width: 25px; 
  height: 25px;
}

.copy-icon:hover path {
  fill: var(--secondary); 
}

.options{
  background-color: #24232c;
  padding: 20px;
  color: var(--secondary); 
}

.length{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  margin-bottom: 1rem;
}

.length label{
  font-size: 0.8rem !important;
}

.length span{
  font-size: 1.3rem !important;
  color: var(--alternative);
}

.settings label,
.checkbox label {
  font-size: 14px;
}

/* Slider Track and Thumb Styling */
input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  width: 100%;
  height: 8px;
  margin-bottom: 20px;
  background: linear-gradient(to right,#A4FFAF 0%,#A4FFAF 50%,#18171F 50%,#18171F 100% );
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

/* Thumb (circle) styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--secondary); /* Color of the thumb */
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: var(--primary); 
  border: 2px solid var(--alternative);
}

input[type="range"]:focus {
  box-shadow: none; 
  outline: none; 
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--secondary); /* Color of the thumb */
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--secondary); 
  border-radius: 50%;
  cursor: pointer;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

/* Custom checkbox styling */
.checkbox input[type="checkbox"] {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: var(--awesome); 
  border: 2px solid var(--secondary); 
  cursor: pointer;
  position: relative;
}

/* Checkbox when checked */
.checkbox input[type="checkbox"]:checked {
  background-color: var(--alternative); 
  border-color: var(--primary); 
}

.checkbox input[type="checkbox"]:checked::before {
  content: '';
  position: absolute;
  top: 2px;   
  left: 6px;  
  width: 4px; 
  height: 8px; 
  border: solid var(--primary); 
  border-width: 0 3px 3px 0; /* Tick shape */
  transform: rotate(45deg);
}

input[type="checkbox"]:focus {
  box-shadow: none; 
  outline: none; 
}

.strength {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 10px;
  background-color: var(--primary);
  padding: 10px;
}

.strength-cal{
  display: flex;
  gap: 15px;
}

.strength-bar-container {
  display: flex;
  gap: 4px;
}

.strength-bar {
  width: 7px;
  height: 20px;
  border: 1px solid var(--secondary);
}

.strength-bar.too-weak {
  background-color: #F64A4A;
  border: none;
}

.strength-bar.weak {
  background-color: #FB7C58;
  border: none;
}

.strength-bar.medium {
  background-color: #F8CD65;
  border: none;
}

.strength-bar.strong {
  background-color: #A4FFAF;
  border: none;
}

.strength-text {
  margin-left: 10px;
  font-weight: bold;
}

.strength label{
  color: var(--textColor);
  font-weight: bold;
  font-size: 0.9rem;
}

.generate-button {
  width: 100%;
  background-color: var(--alternative);
  font-family: "JetBrains Mono", monospace;
  color: #292b3a;
  border: none;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.generate-button:hover {
  background-color: transparent;
  color: var(--alternative);
  border: 1px solid var(--alternative);
}

.generate-button:hover span svg path {
  fill: var(--alternative);
}

/* Media query */
@media (width < 400px)
{
  .app {
    width: 300px;
  }

  .password-input input {
    border: none;
    outline: none;
    flex: 0;
    font-size: 16px;
    background-color: transparent;
    color: var(--secondary);
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
  }

  .copy-section {
    display: flex;
    align-items: center;
    gap: 0px;
  }
  
  .copied-message {
    display: flex;
    align-items: center;
    gap: 0px;
    position: absolute;
    right: 10px;
  }
  
  .copy-icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0px;
    position: absolute;
    right: 10px;
  }

  .strength-cal{
    display: flex;
    gap: 10px;
  }

}
